<form action="/recipes" method="post">
  <label for="title"><h1>New Recipe!</h1></label>
  <label for="title"><h2>Title:</h2></label>
  <input type="text" name="title" id="title">
  <label for="description"><h2>Description:</h2></label>
  <textarea name="description" id="description" rows="5" cols="50"></textarea>
  <label for="ingredients"><h2>Ingredients:</h2></label>
  <textarea name="ingredients" id="ingredients" rows="5" cols="50"></textarea>
  <label for="instructions"><h2>Instructions:</h2></label>
  <textarea name="instructions" id="instructions" rows="5" cols="50"></textarea>
  <input type="submit" value="Create Your Recipe!">
</form>