<h1>Sign Up HERE!!</h1>
<p><%= @error %></p>
<form action="/signup" method="post">
  <label for="user_name">Name:</label>
    <input type="text" name="user_name" id="">
  <label for="email">Email:</label>
    <input type="text" name="email" id="">
  <label for="password">Password:</label>
    <input type="password" name="password" id="">
    <input type="submit" value="sign up" id="">
</form>

<p><a href="/login">Or Login here!</a></p>